# Linux folder attributes (Dolphi) and PyCharm metadata
.idea/
.directory/

# macOS folder attributes
.DS_Store

# Vim swap file
.swp

# Custom folders and software configuration files
tmux/.config/tmux/plugins/
zsh/.config/zsh/.zsh_history
.config/nnn/plugins/
.config/BraveSoftware/
.config/BitwigStudio/
.config/spotify/
.config/systemd/
