/* @define-color theme_bg_color #6e738d; */
/* @define-color theme_fg_color #24273a; */

window#osd {
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  background: alpha(#6e738d, 1);

  #container {
    margin: 16px;
  }

  image,
  label {
    color: #24273a;
  }

  progressbar:disabled,
  image:disabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
  }

  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #24273a;
  }

  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: #24273a;
  }
}
